* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    width: 100%;
    font-size: 16px;
}

header {
    position: fixed;
    background-color: rgb(30, 30, 40);
}

header > .container {
    padding: 40px 18px;
}


header .burgericon {
    width: 40px;
    display: none;
    margin: 0!important;
}

header .container .menu a {
    font-size: 1.2em;
    text-decoration: none;
    margin: 0 14px;
    color: rgb(92, 255, 173);
}

header .container .menu a:hover,
header .container .menu a.active {
    color: yellow;
    /*font-weight: 600;*/
    padding-bottom: 7px;
    border-bottom: 3px solid yellow;
}

header form div {
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid rgb(92, 255, 173);
    border-radius: 50px;
    width: 300px;
}

header form div input[type='text'] {
    border: none;
    margin-right: 10px;
    background-color: rgba(0,0,0,0.0)
}

.searchblock {
    background-color: rgb(35, 35, 50);
}

header form div input[type='submit'] {
    background: url(../images/search50.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
}

header form div input[type='submit']:hover {
    cursor: pointer;
}

footer {
    background-color: rgb(25, 25, 35);
    padding-top: 16px;
    padding-bottom: 20px;
    margin-top: 22px;
}

footer .copyrights {
    text-align: center;
    color: yellow;
    font-size: 1em;
    margin-top: 4px;
}
