*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgb(20, 20, 30);;
    background-position: center;
    background-size: cover;
    color: azure;
}
h2{
    padding: 16px;
    text-align: center;
    margin: 0;
}
.quiz-box{
    background-color: rgb(60, 60, 70);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 700px;
    overflow: hidden;
}
.quiz-header{
    padding: 64px;
}
ul{
    list-style: none;
    padding: 0;
}
ul li{
    font-size: 20px;
    margin: 15px 0;
}
ul li label{
    cursor: pointer;
}
button{
    background-color: rgb(100, 100, 120);
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: azure;
    padding: 15px;
    transition: all 0.5s ease;
}
button:hover{
    background-color: rgb(120, 120, 140);
}
button:focus{
    outline: none;
    background-color: rgb(100, 100, 120);
}

button2{
    border: none;
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: azure;
    padding: 15px;
    transition: all 0.5s ease;
}

button2 a {
    color: azure;
    text-decoration: none;
}