@media screen and (max-width: 900px) {
    header > .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    header form div {
        width: 250px;
    }

    header > .container > img {
        margin-right: 10px;
    }

    header > .container form {
        margin-top: 22px;
    }
}

@media screen and (max-width: 800px) {
    header > .container nav {
        margin-top: 28px;
    }

    header > .container form {
        margin-top: 28px;
    }
}

@media screen and (max-width: 700px) {
    header .container .menu a {
        margin: 0 10px;
    }

    header form div {
        width: 300px;
    }
}

/*@media screen and (max-width: 421px) {
    header .burgericon {
        display: inline-block;
    }

    header > .container > img {
        margin-right: 130px;
    }

    header .container .menu {
        display: none;
    }

    header .container .menu a {
        margin: 0 10px;
        margin-top: 16px;
        margin-bottom: 16px;
        display: block;
    }

    header .container .menu a:hover, header .container .menu a.active {
        border: none;
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 0;
    }
}
*/
