@media screen and (max-width: 1000px) {
    body {
        zoom: 80%;
    }
}

@media screen and (max-width: 500px) {
    body {
        zoom: 60%;
    }
}

@media screen and (max-width: 370px) {
    body {
        zoom: 40%;
    }
}
